[submodule "BiblioPixel"]
	path = BiblioPixel
	url = https://github.com/iceboundflame/BiblioPixel.git
[submodule "BiblioPixel.wiki"]
	path = BiblioPixel.wiki
	url = https://github.com/ManiacalLabs/BiblioPixel.wiki.git
